*{
	font-family: Tahoma, Geneva, sans-serif;
}
.bodyMain{
	width: 100%;
	max-width: 1060px;
	margin: 0 auto;
}
.center{
	text-align: center;
	margin-top: 15px;
}
.begin{
	margin-top:15px;
	padding-top:15px;
}
.navbar{

}
.navb{ /* ul */
	list-style: none;
}
.nav1{ /* li a */
	background-color:#6F9196;
	display:block;
	border: 1px solid #6F9196;
	padding: 10px 0;
	box-shadow: inset 0 1px 0 #49595B, inset 0 -1px 0 #49595B, 0 0 15px rgba(0,0,0,.25);
	text-decoration: none;
	color:#0C1A1C;
	font-weight: bold ;
}
.nav1:hover,.nav1:focus,.nav1:active{
	color:#A1C9CC;
	background-color:#49595B;
}
.nav1:visited{
	
}
.nav{ /* li */
	text-align: center;
	width: 20%;
	float: left;
}
.barType{

}
.image{
	width= "200"; 
}

body{
background-color: #A1C9CC;
color:#40595B;
}
.homepage{
	margin-top:2%;
}

